:root > * {
    --md-primary-fg-color:        #9D0000;
    --md-primary-fg-color--light: #BD0000;
    --md-primary-fg-color--dark:  #AD0000;

    --md-primary-bg-color: 	#dbccaf; 
    --md-color-primary: 	#ff00ff;
	
	--md-default-fg-color--light: #dbccaf; /* Headlines */
	--md-default-bg-color: #111100;	/* main background */
  }
